@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid bg-light p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Save your Workout</h1>
            <p>Enter the information about your lifts.</p>
        </div>
    </div>
</div>

<div class="container my-5">

    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DeadLift</h5>
                    <select name="liftType">
                        <option>Deadlift</option>
                        <option>Squat</option>
                        <option>Bench Press</option>
                        <option>Overhead Press</option>
                        <option>Power Clean</option>
                        <option>Clean and Jerk</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Weight</h5>
                    <input type="text" class="form-control" name="weight_1" placeholder="Enter the weight used for this set.">
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reps</h5>
                    <input type="text" class="form-control" placeholder="Enter number of reps in this set.">
                </div>
            </div>
        </div>
    </div>

</div>